body { background-color: darkgrey;
    font-family: sans-serif;
    


}

#main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}
h1 { font-family: sans-serif;          
    font-size: 50px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    background-color: skyblue;
    color: white;
}

h3 { color: skyblue;
    font-size: 40px;
    text-decoration: underline;}

img { border: 8px;
        height: 200px;
        width: 300px;
    margin:10px;

} 

ol { font-size: 20px;}
ul {font-size: 20px;}


.texte { text-align: left;
        
        border: 10px;
border-color: sandybrown;
    background-color: antiquewhite;
border-radius: 8px;
width: 700px;
border-style: solid;
margin:10px;
padding: 10px;}


p { font-family: sans-serif;
    font-size: 20px;
margin: 10px;}
 

#Deutschland { margin-left: auto;
    margin-bottom: 150px;
    

}

#Kuba{ margin-left: auto; 
    margin-bottom: 150px;
    

}

.Inhalt { margin-left: 20px;}


a { color:   black;}


#Fusszeile {
    
    
    align-content: center;
    border-style: dotted;
    border-radius: 8px;
    border-color: darkred;
    margin-left: auto;
margin-right: auto;
    margin-top: 150px;
    padding:10px;
    border-width: 20px;
    
    
    
    
    
    
    
     
}
    

caption { margin: 10px;
font-size:40px;
color: black;
}


    
td {margin: 10px;
border-style: solid;
border-color: black;
border-radius: 8px;
padding: 10px;
background-color: white;}

th {color: black;
font-size: 20px;}
    
     



